body {
	background:beige;
	margin:0px;
	padding:0px;
}

#wrapper {

	width:1000px;
	background-color:white;
	padding:50px;
	margin-left:auto;
	margin-right:auto;
}

@media only screen and (max-width: 1200px) {
	#wrapper {
		width:800px;
	}
}

@media only screen and (max-width: 800px) {
	#wrapper {
		width:600px;
		padding: none;}
}

#left_column{ 
	background-color:#CFCFCF;
	width:50%; 
	padding:20px;
	float:left;
	box-sizing: border-box;
}

#right_column{
	background-color:#ABABAB;
	width:50%;
	padding:20px;
	float:left;
	box-sizing: border-box;

}

.imgresponsive {
	width:100%;
}

.clr{
	clear:both;
}